on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT
  issues: write # to be able to comment on released issues
  contents: write # Allow semantic-release to push tags
  pull-requests: read # Allow semantic-release to query associated PRs

jobs:
  calculate-version:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    outputs:
      NEXT_VERSION: ${{ steps.semantic-release.outputs.NEXT_VERSION }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Get next version
        id: semantic-release
        run: yarn semantic-release --dry-run --no-ci
        env:
          GH_TOKEN: ${{ github.token }}

  lint:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: yarn supabase db init
      - run: yarn supabase db start
      - run: yarn codegen
      - run: yarn lint

  deploy-db:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    needs: [lint, calculate-version]
    if: ${{ needs.calculate-version.outputs.NEXT_VERSION != '' }}

    steps:
      - uses: actions/checkout@v5
      - run: yarn dlx supabase link --project-ref ${{ secrets.SUPABASE_PROJECT_ID }}
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}

      - run: yarn dlx supabase db push --password ${{ secrets.SUPABASE_DB_PASSWORD }} --include-all

  deploy-functions:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    needs: [lint, deploy-db, calculate-version]
    if: ${{ needs.calculate-version.outputs.NEXT_VERSION != '' }}
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup

      - run: yarn supabase link --project-ref ${{ secrets.SUPABASE_PROJECT_ID }}

      - run: yarn codegen:ts --project-id ${{ secrets.SUPABASE_PROJECT_ID }}

      - run: yarn supabase functions deploy --project-ref ${{ secrets.SUPABASE_PROJECT_ID }}
        env:
          RELEASE: ${{ needs.calculate-version.outputs.NEXT_VERSION }}

      - run: yarn supabase secrets set RELEASE=${{ needs.calculate-version.outputs.NEXT_VERSION }}

  release:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    needs: [deploy-functions, calculate-version]
    if: ${{ needs.calculate-version.outputs.NEXT_VERSION != '' }}

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
