name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  issues: write
  contents: write
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: yarn lint
      - run: yarn typecheck

  deploy:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup

      - name: Apply D1 migrations
        run: yarn workspace @macromaxxing/workers wrangler d1 migrations apply ${{ github.event.repository.name }} --remote
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

      - name: Build
        run: yarn build

      - name: Deploy to Cloudflare Pages
        run: yarn workspace @macromaxxing/workers wrangler pages deploy --project-name=${{ github.event.repository.name }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

  release:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ github.token }}
